body
{   margin: 0px;
    padding: 0px;
    border: 0px;
}
section
{
    display: grid;
    grid-template-areas: 
        "hero"
        "map"
        "about";
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
}
section > .hero
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #d02827, #911414);
    /* background: linear-gradient(to right, #4542e9, #020358); */
    
}
section > .map
{
    background: linear-gradient(to right, #c2c2c9, #414146);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
section > .about
{
    display: flex;
    flex-wrap: wraps;
    justify-content: space-evenly;
    background: linear-gradient(to right, #ec5b8700, #770505);
    align-items: center;
    text-align: center;
}
p, h1, h2
{
    font-family: dancing script, cursive;
    font-size: 3rem;

}
img, iframe
{
  max-width: 100%; 
  height: auto;    
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; 
    }
}
